.success-message {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold; 
    margin-bottom: 10px;
}

.thank-you-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#image-preview{
    max-width: 250px; /* Set the maximum width */
    max-height: 250px; /* Set the maximum height */
}